@model SongAppSample.Models.PlayList
<div class="card" id="playlistCard" style="width: 18rem; ">

    <img class="card-img-top" id="playlistimg" src="~/Images/playList.jpg" alt="Card image cap">
    <div class="card-body" id="playlistbody">
        <h4 class="card-title"> @Model.Name </h4>

      
            @*<h4 style="text-align:end;margin-right:10px;margin-bottom:15px ">@Html.RouteLink(Model.Artist.Name, new { })</h4>*@
</div>
</div>

